.input-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: $m-size;

  @media (min-width: $bp-large) {
    flex-direction: row;
    margin-bottom: $l-size;
  }

  &__item {
    margin-bottom: $s-size;

    @media (min-width: $bp-large) {
      margin: 0 $s-size 0 0;
    }
  }
}
